
header img {
    width: 25%;
    display: block;
    margin: 0 auto;
}
header {
    background-color:#1C2827;
}
body {
    font-family: 'Nunito, Noto Serif Display';
    font-size: 20px;
    background-color: cornsilk;
}
footer {
    color: #FBFFFF;
    background-color: #1C2827;
}
h1 {
    text-decoration:darkgray;
}
h2 {
    text-transform: uppercase;
}